<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App - Home</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .navbar {
      background-color: green;
    }
    .content {
      text-align: center;
      margin-top: 100px;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand">VKRInvest</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ticker">Predictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tickers_list">Tickers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Log in as admin</a>
          </li>
        </ul>
      </div>
    </nav>

  <main>
    <div class="container content">
      <h1>This is VKRInvest!</h1>
      <p>The app to help you invest from zero.</p>
    </div>
  </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>